<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- BOOTSTRAP CDN - CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />

    <!-- GOOGLE FONTS CDN -->
    <link
      href="https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>New Article</title>
  </head>

  <!-- INTERNAL CSS -->
  <style>
    * {
      font-family: 'Encode Sans Expanded', sans-serif;
    }
  </style>

  <body>
    <div class="container py-4">
      <h1 class="mb-4 text-uppercase">New Article</h1>

      <div class="row col-md-6">
        <form action="/article" method="POST">
          <%- include('_form_fields') %>
        </form>
      </div>
    </div>
  </body>
</html>
